.appContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.actionContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  button {
    background-color: transparent;
    outline: none;
    box-shadow: none;
    border: none;
    padding-top: 15px;
    padding-right: 10px;
  }

  i {
    color: #d3d3d3;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s;
  }

  &:active i {
    transform: rotate(-360deg);
  }
}
